<html>
    <head>

    </head>
    <body>
        <h1>Test Form</h1>
        <form id="testForm" action="user/post" method="POST">
            <b>Name</b><br>
            <input type="text" name="name"/><br><br>
            <b>Username</b><br>
            <input type="text" name="username"/><br><br>
            <b>Password</b><br>
            <input type="password" name="password"/><br><br>
            <button type="submit">Kirim</button>
        </form>
    </body>
</html>
